# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.spec
*.exe
*.msix
*.msixbundle
installer/*.exe

# Local data backup
data/*.backup.json